:root {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  --primary-one: #fabc3c;
  --primary-two: #ffb238;
  --primary-three:#f19143;
  --primary-four: #ff773d;   
  --primary-fifth: #f55536; 
  /* --primary-sixth: #3B2B20;                                                                                                                                                                                                                                                              */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: #ffd8be6b;
  /* background-color: #FAFBFD; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", "Poppins",
    monospace;
}

.homePage {
  display: flex;
  /* flex-wrap: wrap; FAFBFD*/
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

/*/////////////////////////////////////////// Login / Profile /////////////////////////////////////////////////////////////////////*/

.landingpage-section-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingpage-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 6px 6px 20px rgba(122,122,122,0.512);
  border-radius: 28px;
  padding: 50px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 180px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

label {
  text-align: center;
}

.not-member, .error-msg {
  text-align: center;
}

.welcome {
  text-align: center;
}

.profile-info-and-form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile-info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-textarea {
  width: 190px;
  height: 50px;
  border-radius: 5px;
}


span {
  font-weight: bold;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn {
  font-family: Poppins;
  font-size: 12px;
  width: 130px;
  height: 50px;
  line-height: 42px;
  align-self: center;
  padding: 0;
  margin: 10px;
  border: none;
  background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
}
.btn:before,
.btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   /* -1px -1px 5px 0px #fff, */
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn:hover:before,
.btn:hover:after{
  width:100%;
  transition:800ms ease all;
}

.create-account-btn {
  width: 160px;
}

a:visited,
a:link {
 color: black;
 text-decoration: none;
}


/*///////////////////////////////////// Header /////////////////////////////////////////////////////////////////////*/


.header-list-item {
  cursor: pointer;
  margin: 20px;
}


.backLink {
  z-index: 100;
  all: unset
}

/*///////////////////////////////////////// Details /////////////////////////////////////////////////////////////////////*/


.details-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 10px 10px;
  margin-top: 80px;
}

.movie-image{
  border: 5px solid;
  border-color: white;
  height: 70vh;

}

.movie-summary{
  margin-left: 10px;
  max-width: 400px;
}

.movie-title {
  text-align: center;
}

.movie-medium {
  text-align: center;  
}

.bold {
  font-weight: 700;
}

.movie-details {
  display: flex;
  flex-wrap: wrap;
}

.details-p {
  margin: 0 40px 10px 0;
}

.details-category-title, .details-tags-title {
  margin: 0;
  width: auto;
}

.details-category, .details-tags {
  overflow: auto;
}

.tag {
  margin: 0;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}


.category-box, .tags-box {
  display: flex;
  gap: 5px;
}



/*///////////////////////////////////// Tags/Category /////////////////////////////////////////////////////////////////////*/

.main-title {
  z-index: 10;
  position: sticky;
  text-align: center;
  margin: 0 60px;
}


.categoryTag-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px; /* Margin here so the text don't disaperar under the header */
}

.movie-container {
  padding: 0 20px;
}

.info-box {
  display: flex;
  margin: 0px;
}

.info-poster {
  height: auto;
  width: 150px;
  border-radius: 10px;
}

.info-details {
  margin:  0 10px;
}

.info-title {
  font-size: 16px;
  margin: 0px;
}

.info-date {
  font-size: 12px;
  margin: 0px;
}

.info-desc {
  font-size: 10px;
  /* width: 170px; */
  max-height: 80px;
  overflow: hidden;
  /* border: 1px solid black; */
}

.info-rating {
  font-size: 10px;
  color: #DC0023
}

.IMBd {
  color: black;
  background: #DFB31D;
  padding: 3px;
  border-radius: 3px;
}

.info-medium {
  font-size: 10px;
  /* margin: 0; */
}

.mini-tag-box {
  display: flex;
  max-width: 20vh;
  max-height: 50px;
  gap: 5px; 
}

.one-tag {
  background: #FD7E6D;
  font-size: 10px;
  padding: 3px;
  border-radius: 3px;
  margin: 0;
}

.red {
  background: #FD7E6D;
}

.blue {
  background: #5D5DFC;
}

.green {
  background: #849D35;
}

/*///////////////////////////////////////////////////////////// Header /////////////////////////////////////////////////////////////////////*/


.header {
  background: #FD7E6D;
  color: #000;
  width: 100vw;
  height: 10%;
  top: 0;
  position: fixed;
  border-radius: 20px;
  position: fixed;
  z-index: 10;
  display: flex;
}

.icon {
  width: 30px;
}

.icon-box {
  display: flex;
  align-items: center;
  margin: 20px; 
}

.icon-text {
  margin: 0 10px;
  font-weight: 700;
}

.icon:hover {
  margin-right: 5px;
}


/*///////////////////////////////////////////////////////////// Desktop /////////////////////////////////////////////////////////////////////*/

@media (min-width:1024px) {
  .profile-info-and-form {
    flex-direction: row;
    height: 100vh;
    align-items: flex-start;
  }
  .profile-info, .profile-form {
    height: 400px;
    justify-content: flex-start;
  }
  .movie-image {
    width: auto;
  }
  .movie-box {
    flex-direction: row;
  }
  .movie-poster {
    width: auto;
    height: 700px;
    
  }
  .category-feed {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    /* margin-bottom: 50px;  */
 
  }
  .tags-box {
    max-width:450px;
    max-height: 200px;
    flex-wrap: wrap;
  }
  .tag {
    width: auto;
  }
}

.profile-info {
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  background: var(--primary-two);
  box-shadow: 6px 6px 20px rgba(122,122,122,0.512);
}

.profile-form {
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  background: var(--primary-two);
  box-shadow: 6px 6px 20px rgba(122,122,122,0.512);
}

/*///////////////////////////////////////////////////////////// Scrollbar Styling /////////////////////////////////////////////////////////////////////*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.main {
  /* overflow: auto; */
  position: sticky;
  font-size: 1.6rem;
  color: black;
  /* background-color: #ffd8be6b; */
  /* margin-top: 70px;  So the Title dosn't dissaperar behind the header */
}

.center-text {
  text-align: center;
}



.all-marvel {
  overflow: auto;
  width: 90vw;
  height: 600px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.scroller {
  display: flex;
  gap: 10px;
  text-align: center;
}

.all-marvel img {
  width: 300px;

}

.all-marvel img {
  margin: 0;
  max-height: 430px; 
}


/*///////////////////////////////////////////////////////////// TopScroll /////////////////////////////////////////////////////////////////////*/


.span-box {
  margin: 20px 0 0 0;
  width: 300px;
  height: 40px;
}

.top-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.list-item {
  /* background: #FD7E6D; */
  font-size: 16px;
  padding: 3px;
  border-radius: 3px;
}



/*///////////////////////////////////////////////////////////// Burger Menu /////////////////////////////////////////////////////////////////////*/


.burger-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}


 .meny ul {
  position: fixed;
  background: linear-gradient(to bottom right, #F6EABE, 
     #FDA65D, #FFA810);
  width: 100%;
  height: 100vh;
  right: 96%;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  z-index: 1;
  display: flex;
  flex-direction: column;   
}

.meny li:hover, .meny li:focus {
  font-weight: 600;
  border-radius: 5px;  
  background-color: white;
  width: 100%;
  animation-name: colorChange2;
  animation-duration: 5s;
}

.meny button:focus + ul {
  opacity: 1;
  pointer-events: auto;
  right: 0;
}




.listed-tags-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.listed-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tag-item {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}