:root {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;                                                                                                                                                                                                                                                                                                                                                    
}

@font-face {
  font-family: 'marvelregular';
  src: url('marvelregular-dj83-webfont.woff2') format('woff2'),
       url('marvelregular-dj83-webfont.woff') format('woff');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: #ffd8be6b;
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", "Poppins",
    monospace;
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*/////////////////////////////////////////// Login / Profile / Welcome /////////////////////////////////////////////////////////////////////*/

.red-background {
  background-image: url("https://i.postimg.cc/cHRqN03k/marvel-red1.png");
  background-repeat: repeat;
  height: 120vh;
}

.landingpage-section-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.postimg.cc/cHRqN03k/marvel-red1.png");
  height: 100%;
  height: 100vh;
}

.landingpage-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.665);
  box-shadow: 6px 6px 20px rgba(122,122,122,0.512);
  border-radius: 10px;
  padding: 50px;
}

.landingpage-section label {
  color: black;
}

.landingpage-section h3 {
  text-align: center;
  margin-top: -30px;;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 180px;
  height: 30px;
  border-color: #e62429;
  border-radius: 5px;
  margin: 5px;
}

label {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.not-member, .error-msg {
  text-align: center;
}

.welcome {
  text-align: center;
  text-shadow: 3px 3px 3px #d40000;
  font-family: 'marvelregular';
  font-size: 100px;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, .9);
  text-transform: uppercase;
  margin: 10px;
}

.welcome-link-item {
  font-size: 24px;
  text-align: center;
}

.begin-header {
  text-shadow: 3px 3px 3px #d40000;
  font-family: 'marvelregular';
  font-size: 100px;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, .9);
  text-transform: uppercase;
  margin: 50px 0;
}

.profile-info-and-form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile-info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.profile-info {
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 250px;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.736);
  box-shadow: 6px 6px 20px rgba(122,122,122,0.512);
}

.profile-form {
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 250px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 6px 6px 20px rgba(122,122,122,0.512);
}

.description-textarea {
  width: 190px;
  height: 50px;
  border-radius: 5px;
}

span {
  font-weight: bold;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.custom-btn p {
  color: white;
}

.btn {
  font-family: Poppins;
  font-size: 14px;
  width: 140px;
  height: 50px;
  line-height: 42px;
  align-self: center;
  padding: 0;
  margin: 10px;
  border: none;
  background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
}
.btn:before,
.btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn:hover:before,
.btn:hover:after{
  width:100%;
  transition:800ms ease all;
}

.create-account-btn {
  width: 200px;
}

.btn-container {
  display: flex;
}

a:visited,
a:link {
 color: black;
 text-decoration: none;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.welcome-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.665);
  border-radius: 10px;
  width: 175px;
  height: 175px;
  border: 1px solid black;
}

.welcome-link:hover {
  box-shadow: 6px 6px 20px rgba(122,122,122,0.612);
  transform: scale(1.05);
  transition: 0.7s;
}

.footer-text {
  text-align: center;
  margin: 50px;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 250px;
}

@media (min-width: 700px) {
  .profile-info-and-form {
    margin-top: 20px;
  }
  .profile-info-form {
  transform: scale(1.3);
  margin-top: 150px;
  }
  .profile-info, .profile-form {
    width: 300px;
    font-size:larger;
    justify-content: flex-start;
  }
  .landingpage-section {
    padding: 100px;
  }
  .welcome {
    margin-top: 50px;
  }
  .btn {
    font-size: 16px;

  }
  .welcome-link {
    width: 300px;
    height: 300px;
    text-align: center;
  }
  .welcome-container {
    padding: 50px;
    gap: 50px;
  }
}


/*///////////////////////////////////// Header /////////////////////////////////////////////////////////////////////*/

.header {
  background-image: url("https://i.postimg.cc/y8H71qF7/comiclessred.png");
  background-position: 80%;
  color: #000;
  width: 100vw;
  height: 10%;
  top: 0;
  position: fixed;
  border-radius: 20px;
  position: fixed;
  z-index: 10;
  display: flex;
}

.backLink {
  z-index: 100;
  all: unset;
}

.icon {
  width: 40px;
}

.icon-box {
  display: flex;
  align-items: center;
}

.icon-text {
  margin: 0 10px;
  font-weight: 700;
}

.icon:hover {
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}


@media (min-width: 700px) {
  .header {
   height: 10%;
  }
}

/*///////////////////////////////////////// Details /////////////////////////////////////////////////////////////////////*/


.details-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 10px 10px;
}

.movie-image{
  height: 60vh;
}

.movie-summary{
  margin-left: 10px;
}

.movie-title {
  text-align: center;
}

.movie-medium {
  text-align: center;  
}

.bold {
  font-weight: 700;
}



.movie-details {
  display: flex;
  flex-wrap: wrap;
}

.details-p {
  margin: 0 40px 10px 0;
}

.details-category-title, .details-tags-title {
  margin: 0;
  width: auto;
}

.details-category, .details-tags {
  overflow: auto;
  max-width: 350px;
}

.tag {
  margin: 0;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.tag:hover {
  box-shadow: 5px 5px 10px rgba(122,122,122,0.512);
}

.category-box, .tags-box {
  display: flex;
  gap: 5px;
}

@media (min-width:700px) {
  .details-p, .details-category-title, .details-tags-title, .movie-medium, .movie-desc, .tag {
    font-size: 22px;
  }
  .tag {
    padding: 10px;
  }
  .details-category-title, .details-tags-title {
    margin: 10px 0;
  }
  .details-category, .details-tags {
    max-width: 650px;
    
  }
}


@media (min-width:1200px) {

  .movie-image {
    width: auto;
  }
  .movie-box {
    flex-direction: row;
  }
  .movie-poster {
    width: auto;
    height: 700px;
  }
  .tags-box {
    max-width:650px;
    max-height: 200px;
    flex-wrap: wrap;
  }
  .tag {
    width: auto;
  }
  .details-body {
    display: flex;
    flex-direction: row;
    width: 80vw;
    font-size: 20px;
  }
  .movie-summary {
    max-width: 800px;
    margin-left: 60px;
  }
  .category-box, .tags-box {
    max-height: 150px;
    width: 700px;
  }
  .details-category, .details-tags {
    overflow: visible;
    flex-wrap: wrap;
  }
  .tag {
    margin: 2px;
    padding: 7px;
    font-size: 20px;
  }
  .details-tags-title, .details-category-title {
    margin-top: 10px;
  }
  .tags-box {
    margin-top: 15px;
  }
}


/*///////////////////////////////////// Tags/Category /////////////////////////////////////////////////////////////////////*/

.main-title {
  text-align: center;
  font-size: auto;
  text-shadow: 3px 3px 3px #D40000;
  font-size: 25px;
  color: rgba(255, 255, 255, .9);
  text-transform: uppercase;
  font-family: 'marvelregular';
  letter-spacing: 3px;
}

.title-container {
  z-index: 200;
  position: -webkit-sticky;
  position: sticky;
  margin-top: 0px;
  top: 0px;
  width: 60vw;
  height: 65px; 
  margin: 0 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.categoryTag-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-container {
  padding: 0 20px;
}

.info-box {
  display: flex;
  margin: 10px 0;
}

.info-poster {
  height: auto;
  width: 150px;
  border-radius: 10px;
  transition: 0.5s;

}

.info-poster:hover {
  box-shadow: 6px 6px 20px rgba(122,122,122,0.912);
  transform: scale(1.05);
  transition: 0.5s;
}

.info-details {
  margin:  0 10px;
}

.info-title {
  font-size: 16px;
  margin: 0px;
}

.info-date {
  font-size: 12px;
  margin: 0px;
}

.info-desc {
  font-size: 12px;
  max-height: 75px;
  overflow: hidden;
}

.info-rating {
  font-size: 12px;
  color: #DC0023
}

.IMBd {
  color: black;
  background: #DFB31D;
  padding: 3px;
  border-radius: 3px;
}

.info-medium {
  font-size: 12px;
}

.mini-tag-box {
  display: flex;
  max-width: 30vh;
  max-height: 50px;
  gap: 5px; 
}

.one-tag {
  background: #FD7E6D;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
  margin: 0;
}

.red {
  background-image: url("https://i.postimg.cc/y8H71qF7/comiclessred.png");
  background-size: cover;
}

.blue {
  background-image: url("https://i.postimg.cc/4xysZPNb/comic-Blue.png");
  background-size: cover;
}

@media (min-width:700px) {

  .main-title {
    font-size: 50px;
  }
  .categoryTag-feed {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  .title-container {
    width: auto;
    font-size: 24px;
     height: 85px;
    margin: 0 70px;
    }
  .movie-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;

    }
    .info-box {
      margin: 10px;
    }
    .info-poster {
       width: 330px;

    }
    .info-title {
      font-size: 24px;
    }
    .info-rating, .info-medium, .info-desc, .info-date {
      font-size: 18px;
    }

    .info-desc {
    max-height: none;

    }
    .one-tag {
      font-size: 16px;
      padding: 5px;
      border-radius: 6px;
    }

  
}

@media (min-width:1000px) {
  .info-box {
    max-width: 600px;
    margin: 10px;
  }
  .main-title {
   height: 70px;

  }
}

@media (min-width:1224px) {
  .info-box {
    max-width: 600px;
    margin: 10px;
  }
  .main-title {
   height: 40px;

  }
}

@media (min-width:1800px) {

  .info-box {
    max-width: 800px;
  }
  .main-title {
    height: 35px;
  }
}

/*/////////////////////////////////////// Feed & Scrollbar Styling /////////////////////////////////////////////////////////////////////*/

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background-image: url("https://i.postimg.cc/y8H71qF7/comiclessred.png");
  box-shadow: 6px 6px 20px rgba(122,122,122,0.412);
  border-radius: 5px;
  
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.scroller {
  overflow: auto;
  width: 90vw;
  height: 550px;
  display: flex;
  flex-direction: row;
}

.inside-scroller {
  display: flex;
  gap: 10px;
  text-align: center;
}

.scroller img {
  width: 300px;

}

.inside-scroller img {
  margin: 0;
  max-height: 430px; 
}

.inside-scroller img:hover {
  box-shadow: 5px 5px 10px rgba(122,122,122,0.412);
  transform: scale(1.1);
  transition: 0.4s;
}

.feed-title {
  font-family: 'marvelregular';
  text-transform: uppercase;
  font-size: 40px;
  margin: 20px;
  letter-spacing: 3px;
  color: black;
}



/*/////////////////////////////////////////// TopScroll /////////////////////////////////////////////////////////////////////*/


.span-box {
  margin: 40px 0 0 0;
  width: 300px;
  height: 40px;
}

.top-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}


.scroll-tag {
  transition: 1.3s;

}

.scroll-tag:hover {
  box-shadow: 5px 5px 10px rgba(122,122,122,0.412);
  background-image: url("https://i.postimg.cc/y8H71qF7/comiclessred.png");
  background-position: 0% 15%;
  color: white;
  border-radius: 7px;
}
@media (max-width:600px) {
 
  .mobile-hide {
    display: none;
  }
  .top-nav {
    justify-content: center;
  }
}

@media (max-width:1024px) {
  .scroll-tag {
    background-image: url("https://i.postimg.cc/y8H71qF7/comiclessred.png");
    background-position: 20% 10%;
    border-radius: 7px;
    color: white;
    padding: 10px;
    margin: 0 5px;

  }
}

@media (min-width:700px) {
  .scroll-tag {
    padding: 10px;
    font-size: 22px;
  }
  .span-box {
    margin: 25px 0 20px 0;
  }
}

@media (max-width:1100px) {
  .span-box {
    margin-top: 50px;
  }
}

@media (min-width:1024px) {
  .span-box {
    width: 600px;
    height: 80px;

  }
  .scroll-tag {
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
  }
  .top-nav {
    justify-content: space-evenly;
  }
}



/*////////////////////////////////////// AllTags / AllCategories /////////////////////////////////////////////////////////////////////*/


.listed-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tag-item {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
} 

.tag-item:hover {
  box-shadow: 6px 6px 20px rgba(122,122,122,0.512);
  
}

@media (min-width:1024px) {
  .listed-tags {
  gap: 20px;

  }
  .tag-item {
    width: 250px;
    height: 250px;
    font-size: 24px;
    text-align: center;
  }
}

@media (min-width:700px) {

  .tag-item {
    width: 200px;
    height: 200px;
  }
}

/*///////////////////////////////////// Hamburger menu /////////////////////////////////////////////////////////////////////*/

.sideMenu-closed {
  position: fixed;
  top: 0;
  right: 0;
  left: -150%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 85px;
  z-index: 10;
  transition: all 1s ease;
  opacity: 0;
  margin-block-start: 0;
}

.closeMenu-closed {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  transition: all 1s ease;
  cursor: pointer;
  opacity: 0;
}

.sideMenu-open {
  position: fixed;
  background-image: url("https://i.postimg.cc/cHRqN03k/marvel-red1.png");
  border-radius: 10px;;
  top:-50px;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  transition: all 1s ease;
  display: flex;
  margin-block-start: 0;
  margin-top: 50px;
}

.closeMenu-open {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  transition: all 1s ease;
  cursor: pointer;
  display: block;
}

.top-header {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.list-item {
  font-size: 16px;
  padding: 3px;
  border-radius: 3px;
}

.header-list {
  margin-top: 50px;
}
.header-list-item {
  cursor: pointer;
  margin: 20px;
  font-size: 24px;
  text-transform: uppercase;
}

@media (min-width:700px) {
 .header-list-item {
    margin: 30px;
    font-size: 32px;
  }
}

@media (min-width:1025px) {
  .sideMenu-open {
    width: 300px;
    top:-50px;
  }
  .header-list-item {
    font-size: 24px;
  }
}

/*///////////////////////////////////// images /////////////////////////////////////////////////////////////////////*/

.tony:hover {
  background-image: url("https://i.postimg.cc/KjygWjRS/tony.webp");
  background-position: 50%;
  color: white;
  
}

.tag-item {
  transition: 1.3s ease;
}

.tag-item:hover {
  color: white;
  background-position: 50% 20%;
}

.phase:hover {
  background-image: url("https://i.postimg.cc/gkdQ3PGn/stars.jpg");
  background-position: 40%;

}

.thor:hover {
  background-image: url("https://i.postimg.cc/3RCKKFKR/thor.webp");
  background-position: 40%;
}

.hulk:hover {
  background-image: url("https://i.postimg.cc/2837BHgP/hulk.webp");
}

.asgardien:hover {
  background-image: url("https://i.postimg.cc/8csF0YSW/asgard.jpg");
  background-position: 50%;
}

.loki:hover {
  background-image: url("https://i.postimg.cc/mD9Z1GBm/lokii.webp");
  background-position: 50%;
  color: white;
}

.rogers:hover {
  background-image: url("https://i.postimg.cc/m2fjH3Nj/rogers.jpg");
  background-position: 30%;
}

.avengers:hover {
  background-image: url("https://i.postimg.cc/02yyf31R/marvell.jpg");
  background-position: 50%;
}

.natasha:hover {
  background-image: url("https://i.postimg.cc/tJMTGCtQ/blackwidoww.jpg");
}

.falcon:hover {
  background-image: url("https://i.postimg.cc/fby93L5F/falcon-anthony-mackie-1200.jpg");
  background-position: 50% 10%;
}

.galaxy:hover {
  background-image: url("https://i.postimg.cc/85WJQ0Xr/galax.webp");
}

.antman:hover {
  background-image: url("https://i.postimg.cc/D08jBn2Y/Avengers-Endgame-Paul-Rudd-Ant-Man-1280x720.jpg");
  background-position:  20%;
}

.strange:hover {
  background-image: url("https://i.postimg.cc/bJ8DPR7C/benedict-cumberbatch-doctor-strange-sorcerer-supreme.webp");
}

.spider:hover {
  background-image: url("https://i.postimg.cc/DZdCfB88/sp.jpg");
}
.panther:hover {
  background-image: url("https://i.postimg.cc/DZkXphfX/panther.jpg");
  background-position: 40%;

}
.shang:hover {
  background-image: url("https://i.postimg.cc/J0xTr0pn/STB-Teaser-1-Sht-v4-lg.jpg");

}
.eternals:hover {
  background-image: url("https://i.postimg.cc/g2M9KcDg/et.webp");
  background-position: 50% 10%;
}
.wanda:hover {
  background-image: url("https://i.postimg.cc/yYW4bCQK/Elizabeth-Olsen-as-Wanda-Maximoff.jpg");
}
.upcoming:hover {
  background-image: url("https://i.postimg.cc/gkdQ3PGn/stars.jpg");
  background-position: 10%;
}

.animated:hover {
  background-image: url("https://i.postimg.cc/GtNVvH1p/am1.webp");
  background-position: 60%;

}
.hawkeye:hover {
  background-image: url("https://i.postimg.cc/Kc6jf4zB/clint.jpg");
}

.oneshot:hover {
  background-image: url("https://i.postimg.cc/gkdQ3PGn/stars.jpg");
}
.doc:hover {
  background-image: url("https://i.postimg.cc/gkdQ3PGn/stars.jpg");
}
.deadpool:hover {
  background-image: url("https://i.postimg.cc/s2wNrT8K/pool.jpg");
}
.legacy:hover {
  background-image: url("https://i.postimg.cc/gkdQ3PGn/stars.jpg");
}
.wolf:hover {
  background-image: url("https://i.postimg.cc/3w5vw7Mx/wolfi.jpg");
}
.xmen:hover {
  background-image: url("https://i.postimg.cc/C53F4hsZ/xmenn.jpg");
}
.four:hover {
  background-image: url("https://i.postimg.cc/0yfz9SCc/four.webp");
}
.sheild:hover {
  background-image: url("https://i.postimg.cc/JnbVWNNh/shield-marvel-1.jpg");
}

.nick:hover {
  background-image: url("https://i.postimg.cc/PqxynYDk/1529317045-nick-fury-samuel-l-jackson-mcu.jpg");
}

.quill:hover {
  background-image: url("https://i.postimg.cc/ZnT0XF98/quill.jpg");
}

.groot:hover {
  background-image: url("https://i.postimg.cc/L4NvZK6c/Baby-Groot.webp");
}

.capMarvel:hover {
  background-image: url("https://i.postimg.cc/hjjRRFDV/744.webp");
}

.pepper:hover {
  background-image: url("https://i.postimg.cc/F1XKHCqD/DHOVLPYJAFDFDFHPFJXXWXAVJM.jpg");
}

.jarvis:hover {
  background-image: url("https://i.postimg.cc/cCZTjjMF/1461679852-avengers-paul-bettany-the-vision.jpg");
}

.thanos:hover {
  background-image: url("https://i.postimg.cc/JnTGVHjS/thanos.jpg");
}

.rhodney:hover {
  background-image: url("https://i.postimg.cc/rmbCyWkQ/infinitywar5ac5d1bc04b95-copy.webp");
}

.howard:hover {
  background-image: url("https://i.postimg.cc/hGXXDYtR/From-howard-stark-to-preacher-dominic-cooper-rumor-x658-1920.webp");
}

.foster:hover {
  background-image: url("https://i.postimg.cc/zvg5ty7C/jane.jpg");
}

.bucky:hover {
  background-image: url("https://i.postimg.cc/9fgrsqdK/bucky.jpg");
}

.peggy:hover {
  background-image: url("https://i.postimg.cc/L6kh2Wkz/pegg.jpg");
}

.rocket:hover {
  background-image: url("https://i.postimg.cc/DyhyjgVm/rocket.jpg");
}

.gamora:hover {
  background-image: url("https://i.postimg.cc/XY7N3YYb/Gamora-Guardians-of-the-Galaxy.webp");
}

.drax:hover {
  background-image: url("https://i.postimg.cc/Qt5hSB0p/drax.jpg");
}

.nebula:hover {
  background-image: url("https://i.postimg.cc/Y0bVxMK6/ne.jpg");
}

.yondu:hover {
  background-image: url("https://i.postimg.cc/kG4wqSzS/Yondu-Udonta-in-Guardians-Galaxy.jpg");
}

.friday:hover {
  background-image: url("https://i.postimg.cc/tTDwBBF7/fridayy.webp");
}

.wong:hover {
  background-image: url("https://i.postimg.cc/Vsnjpm6g/wong.webp");
}
.mj:hover {
  background-image: url("https://i.postimg.cc/zXk7KySX/Zendaya.png");
}
.ned:hover {
  background-image: url("https://i.postimg.cc/BngzShwp/maxresdefault.jpg");
}
.happy:hover {
  background-image: url("https://i.postimg.cc/xdn6BKfm/happy-hogan-jon-favreau-foto-reproducao-marvel-widelg.jpg");
}
.valkyrie:hover {
  background-image: url("https://i.postimg.cc/RCwvHbsq/val.webp");
}
.shuri:hover {
  background-image: url("https://i.postimg.cc/y8tZZK58/Black-Panther596d2f0340b95-0.jpg");
}
.wasp:hover {
  background-image: url("https://i.postimg.cc/FsD5btjF/wasp.webp");
}
.flash:hover {
  background-image: url("https://i.postimg.cc/Yq2TCXT5/rsz-the-flash.webp");
}
.venom:hover {
  background-image: url("https://i.postimg.cc/HLMhhF7y/venommm.webp");
}
.electro:hover {
  background-image: url("https://i.postimg.cc/m2XsVgTB/electro-asm2-0.jpg");
}

.octopus:hover {
  background-image: url("https://i.postimg.cc/9M8ZtQFt/Doctor-Octopus-looking-on-in-Spider-Man-2.webp");
}

.xavier:hover {
  background-image: url("https://i.postimg.cc/xjXtxwDT/profX.jpg");
  background-position: 40% 20%;
}

.riri:hover {
  background-image: url("https://i.postimg.cc/mDzzZ5VF/ririi.jpg");
  background-position: 50%;
}

.mantis:hover {
  background-image: url("https://i.postimg.cc/85KJTVhG/maxresdefault-1.jpg");
}

.msMarvel:hover {
  background-image: url("https://i.postimg.cc/qB2Cvw2x/ms.jpg");
}

.echo:hover {
  background-image: url("https://i.postimg.cc/cCcHMDmq/maya-lopez-echo.webp");
  background-position: 50%;
  color: black;
}

.moonknight:hover {
  background-image: url("https://i.postimg.cc/MT7Kqsgc/moon.jpg");
}

.phoenix:hover {
  background-image: url("https://i.postimg.cc/bY5FqzHt/Dark-Phoenix-Sophie-Turner-X-Men-1280x720.jpg");
}

.magneto:hover {
  background-image: url("https://i.postimg.cc/qR5QBLnT/magneto.jpg");
}
.summers:hover {
  background-image: url("https://i.postimg.cc/Y2VcmyRC/tumblr-2843347aa63b00f5ac1f91306cf9899c-1dc53370-500.jpg");
}
.rouge:hover {
  background-image: url("https://i.postimg.cc/tChfkKWn/the-gifted-rogue-anna-paquin-cameo-1040578-1280x0.webp");
}
.mystique:hover {
  background-image: url("https://i.postimg.cc/TPrp3YDY/jennifer-lawrence-confirms-apocalypse-is-her-final-9586-1200.webp");
}
.fantastic:hover {
  background-image: url("https://i.postimg.cc/W3NVXFqp/champion-mister-fantastic.jpg");
}
.invisible:hover {
  background-image: url("https://i.postimg.cc/Gmfs0Rx1/Marvel-Comics-Invisible-Woman.jpg");
}
.torch:hover {
  background-image: url("https://i.postimg.cc/8cxbPvhT/2103919-human-torch-flame-on.png");
}
.thing:hover {
  background-image: url("https://i.postimg.cc/Y2mqrSBc/thing.webp");
}
.doom:hover {
  background-image: url("https://i.postimg.cc/6Q7bw9sV/nedladdning.jpg");
}
.goblin:hover {
  background-image: url("https://i.postimg.cc/4xxD38HK/green.webp");
}
.gwen:hover {
  background-image: url("https://i.postimg.cc/NGx43y9q/gwen-stacy-may-have-been-spotted-in-avengers-endgame-jyue-1200.webp");
  color: black;
}
.blade:hover {
  background-image: url("https://i.postimg.cc/ZYy9NXmf/webstory-marvel-games-Blade-Movie.webp");
}
.morbius:hover {
  background-image: url("https://i.postimg.cc/Vk9nCpqy/MORBIUSBOB2021001-CVR-1.webp");
}
.modok:hover {
  background-image: url("https://i.postimg.cc/Hn54Pxyn/M-O-D-O-K-Marvel-Avengers.webp");
}
.monkey:hover {
  background-image: url("https://i.postimg.cc/gjv8HTC6/marvelhitmonkey-blogroll-1636491417508.jpg");
}
.miles:hover {
  background-image: url("https://i.postimg.cc/63Z3m69N/Miles-Morales-from-MM-promo.jpg");
}






